<div class="jumbotron jumbotron-fluid bg-primary">
  <div class="container">
    <h1 class="font-weight-bolder text-success">BEST PRICE GUARANTEE</h1>
    <p class="text-white">THE BEST SERVICE, EVEN MORE AFFORDABLE</p>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center" >
    <div class="col-6">
      <button routerLink="/my-bookings/new" class="btn btn-success btn-lg btn-block font-weight-bold">BOOK NOW!</button>
    </div>
  </div>
  <div class="row" >
    <div class="col-md-3">
      <div class="card border-0">
        <div class="mx-auto">
          <img src="../../assets/image_4_1.png">
        </div>      
        <div class="card-body text-center">
          <h5 class="card-title">24/7 Customer Support</h5>
          <p class="card-text">Our team is here to help, 24 hours a day, 7 days a week.</p>       
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card border-0">
        <div class="mx-auto">
          <img src="../../assets/image_1_2.png">
        </div>      
        <div class="card-body text-center">
          <h5 class="card-title">Free Cancellation</h5>
          <p class="card-text">We offer free cancellation up to 24 hours before your pick-up time with most of our suppliers.</p>       
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card border-0">
        <div class="mx-auto">
          <img src="../../assets/image_3_2.png">
        </div>      
        <div class="card-body text-center">
          <h5 class="card-title">No Hidden Costs</h5>
          <p class="card-text">We’ll explain any additional costs before you book your car hire. More details on what’s included? Just check the Ts&Cs of any car.</p>       
        </div>
      </div>
    </div> 
    <div class="col-md-3">
      <div class="card border-0">
        <div class="mx-auto">
          <img src="../../assets/image_2_2.png">
        </div>      
        <div class="card-body text-center">
          <h5 class="card-title">Damage & Theft Protection</h5>
          <p class="card-text">Our rentals include Collision Damage Waiver + Theft Protection.</p>       
        </div>
      </div>
    </div> 
  </div>
</div>  